@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    font-family: sans-serif;
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
li{
  list-style: none;
}






:where(.css-dev-only-do-not-override-mncuj7).ant-drawer .ant-drawer-content {
    position: absolute;
    z-index: 1000;
    max-width: 84vh;
    transition: all 0.3s;
    margin: auto;
  
}


:where(.css-dev-only-do-not-override-mncuj7).ant-drawer-bottom>.ant-drawer-content-wrapper {
    position: absolute;
    z-index: 1000;
    max-width: 84vh;
    transition: all 0.3s;
    margin: auto;
}





:where(.css-mncuj7).ant-drawer .ant-drawer-content {
 position: absolute;
    z-index: 1000;
    max-width: 84vh;
    transition: all 0.3s;
    margin: auto;
} 

:where(.css-mncuj7).ant-drawer-bottom>.ant-drawer-content-wrapper {
   position: absolute;
    z-index: 1000;
    max-width: 84vh;
    transition: all 0.3s;
    margin: auto;
}