@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    font-family: sans-serif;
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
li{
  list-style: none;
}






:where(.css-dev-only-do-not-override-xepvsj).ant-drawer .ant-drawer-content-wrapper {
    position: absolute;
    z-index: 1000;
    max-width: 84vh;
    transition: all 0.3s;
    margin: auto;
  
}


:where(.css-dev-only-do-not-override-xepvsj).ant-drawer .ant-drawer-body {
    flex: 1;
    min-width: 0;
    min-height: 0;
    padding: 24px;
    overflow: auto;
  
    background-color: #F7F7F7;
}
